body {
  padding: 2.5% 5%;
  font-size: 1.5em;
  text-align: center;
  user-select: none;
}

h1 {
  font-size: 2em;
  margin: 25px 0;
}

.button {
  font-size: 1em;
  padding: 5px 10px;
  margin: 0 0.5em;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover {
  background-color: lightgray;
}

input[type="text"] {
  font-size: 1em;
  padding: 5px 10px;
  margin: 0.5em;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
}
input[type="number"] {
  font-size: 1em;
  padding: 0px 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid gray;
  border-radius: 10px;
  text-align: center;
  width: 3em;
}

.button.one-character {
  padding: 0;
  width: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
}

.marchingOrderTitle {
  font-size: 0.66em;
  text-align: left;
  margin-left: 12px;
}

.marchingOrder {
  border: black solid 2px;
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.marchingOrder div {
  font-size: small;
  text-align: center;
}
